PORT=3000
NODE_ENV=development
DATABASE_URL=http://localhost:1234
API_KEY=skjcnhsekurtcbghnkdfsadas
JWT_ACCESS_TOKEN_SECRET=subvhtgnkdxfmvbnsdx,shgrnuke
JWT_REFRESH_TOKEN_SECRET=subvhtgnkdxfmvbnsdx,shgrscdfsdnuke
ORTHANC_USERNAME=orthanc
ORTHANC_PASSWORD=orthanc

DICOM_SOURCE_AET=express
DICOM_SOURCE_IP=127.0.0.1
DICOM_SOURCE_PORT=9999
DICOM_TARGET_AET=ORTHANC
DICOM_TARGET_IP=127.0.0.1
DICOM_TARGET_PORT=4242
